.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #106766;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    z-index: 100;
}

.menu img {
    height: 30px;
    margin-right: 10px;
    align-self: center;
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
}

.menu a:hover {
    text-decoration: underline;
}

.container {
    margin-top: 60px;
    padding: 20px;
    box-sizing: border-box;
}

.right-links {
    float: right;
    display: flex;
}


  
.menu a span {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    
}
